.TRtitleDateDiv {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2em;
}
.TRbalance {
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.TRbalance .TRbalanceValue {
  /* width: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  border: none;
  height: 25%;
  box-shadow: 0 2px 5px lightgrey;
}
.TRbalance .TRbalanceTxt {
  padding: 0.25em;
  font-weight: 600;
  font-size: small;
  text-align: left;
}
.TRtitle {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TRdatePickerDiv {
  width: 20%;
}
.TRtitleDateDiv .TRtitle .TRtitleTxt {
  border: none;
  width: 100%;
  background-color: #e6f8e8;
  border-radius: 8px;
  box-shadow: 0px 2px 2px lightgrey;
  /* padding: 0.25em; */
  font-weight: 600;
  font-size: large;
  padding: 9px 0px;
}

.TRbalance .TRtitleTxt {
  font-weight: 600;
  font-size: small;
  margin-bottom: 0.5em;
}
.MuiContainer-root .TRtitleDateDiv .TRdatePickerDiv .TRdateTxt {
  text-align: right;
  font-weight: 600;
}
.TRsearchDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 50%;
  margin: auto;
}
.TRModalPara {
  font-size: medium;
  font-weight: 500;
  opacity: 0.8;
}
@media all and (max-width: 500px) {
  .TRtitleDateDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    margin-bottom: 2em;
  }
  .TRbalance {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
  }
  .TRbalance .TRbalanceValue {
    /* width: 70%; */
    border: none;
    /* padding: 0.7em; */

    box-shadow: 0 2px 5px lightgrey;
  }
  .TRtitle {
    width: 70%;
    margin-bottom: 1em;
  }
  .TRdatePickerDiv {
    width: 60%;
    margin-right: 0.7em;
  }
  .MuiContainer-root .TRtitleDateDiv .TRdatePickerDiv .TRdateTxt {
    font-size: 14px;
    font-weight: 700;
  }
  .TRsearchDiv {
    width: 90%;
  }
  .TRModalPara {
    font-size: small;
    font-weight: 500;
    opacity: 0.8;
  }
  .TRtitle {
    position: absolute;
    top: 4em;
  }
  .TRtitleDateDiv {
    margin-top: 3.5em;
  }
  .TRbalance {
    margin-bottom: 0.5em;
  }
}
@media all and (min-width: 500px) and (max-width: 900px) {
  .TRtitleDateDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    margin-bottom: 2em;
  }
  .TRbalance {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    /* align-items: center; */
  }
  .TRbalance .TRbalanceValue {
    /* width: 50%; */
    border: none;
    padding: 0.4em;

    box-shadow: 0 2px 5px lightgrey;
  }
  .TRtitle {
    width: 50%;
    margin-bottom: 1em;
  }
  .TRdatePickerDiv {
    width: 40%;
    margin-right: 0.7em;
  }
  .MuiContainer-root .TRtitleDateDiv .TRdatePickerDiv .TRdateTxt {
    font-size: 16px;
    font-weight: 700;
  }
  .TRsearchDiv {
    width: 90%;
  }
  .TRtitle {
    position: absolute;
    top: 4em;
  }
  .TRtitleDateDiv {
    margin-top: 3.5em;
  }
  .TRbalance {
    margin-bottom: 0.5em;
  }
}
