/* .BxDik {
  width: 100%;
}
.MuiBox-root {
  width: 100%;
}
.gGsKlE > .MuiPaper-root {
  width: 30%;
} */

.MuiListItemText-root .MuiListItemText-root > span {
  font-size: 30px;
}
/* .css-10hburv-MuiTypography-root {
  font-size: 2rem;
}

.MuiListItemText-root .MuiListItemText-root > span {
  font-size: 24px;
} */
.iePwzk .MuiListItemText-root > span {
  font-size: 22px;
}
.MuiListItemIcon-root svg {
  font-size: 22px;
}
.css-10hburv-MuiTypography-root {
  font-size: 20px;
}
