.fovZtz.MuiTableBody-root .MuiTableCell-body {
  font-weight: 500 !important;
}
.fovZtz.MuiTableBody-root .sc-dmRaPn {
  font-weight: 900 !important;
}

/* .fovZtz.MuiTableBody-root .MuiTableCell-body .inputTable:focus {
  outline: none;
} */
